<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#  JQuery  #}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Vue.js development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/room.css') }}">
</head>
<body>
    <div class="main-container">
        <div id="main-panel">
            <div id="screen">
                <span style="text-align: center; font-size: 50px">VIDEO PLAYER</span>
            </div>
            <div id="control-panel">
                <div id="playlist">
                    <h4>Playlist</h4>
                    <ion-icon name="add-outline" id="add-icon"> </ion-icon>
                    <ul>
                        <li>Avengers <ion-icon name="close-outline"></ion-icon></li>
                        <li>Batman <ion-icon name="close-outline"></ion-icon></li>
                        <li>Spider Man <ion-icon name="close-outline"></ion-icon></li>
                        <li>Back To THe Future <ion-icon name="close-outline"></ion-icon></li>
                        <li>Back To THe Future <ion-icon name="close-outline"></ion-icon></li>
                        <li>Back To THe Future <ion-icon name="close-outline"></ion-icon></li>
                        <li>Back To THe Future <ion-icon name="close-outline"></ion-icon></li>
                        <li>Back To THe Future <ion-icon name="close-outline"></ion-icon></li>

                    </ul>
                </div>
                <div id="userlist">
                    <h4>Users</h4>
                    <ul>
                        <li>Petya <ion-icon name="close-outline"></ion-icon></li>
                        <li>Farin <ion-icon name="close-outline"></ion-icon></li>
                        <li>Bob <ion-icon name="close-outline"></ion-icon></li>
                        <li>Ivan <ion-icon name="close-outline"></ion-icon></li>
                        <li>Jack <ion-icon name="close-outline"></ion-icon></li>
                        <li>Bob <ion-icon name="close-outline"></ion-icon></li>
                        <li>Tom <ion-icon name="close-outline"></ion-icon></li>
                        <li>Top <ion-icon name="close-outline"></ion-icon></li>

                    </ul>
                </div>
            </div>
        </div>
        <div id="chat">
            <div class="chat-header">
                <h2>Room Name</h2>
            </div>
            <div id="chat-container">
                <div class="message-box">
                    Username
                    <span class="message-text">Test mesffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffsage</span>
                </div>
                <div class="message-box">
                    Username
                    <span class="message-text">Test mesffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffsage</span>
                </div>
                <div class="message-box owner">
                    <span class="message-user">Farin</span>
                    <span class="message-text">Olala</span>
                </div>
            </div>
            <div class="chat-input">
                <input type="text">
                <ion-icon name="send"></ion-icon>
            </div>
        </div>
    </div>

    {#  ionicons  #}
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>