
html {
    background-color: #323232;
    margin: 0;
    padding: 0;
    color: #14ffec;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
}

.main-container {
    display: flex;
    height: 100vh;
}

#screen {
    width: 80%;
}

#chat {
    width: 20%;
    border-left: 5px solid #00beaf;
}